.frame {
  text-align: center;
}
.frame h2 {
  text-align: center;
}
.link {
  color: rgb(73, 73, 208);
}
.frame h3 {
  padding-top: 72%;
  text-align: center;
  color: rgb(174, 114, 40);
  font-family: cursive;
}