.tech-container {
  width: 90%;
  max-width: 900px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Title */
.tech-container h1 {
  text-align: center;
  color: #356ce2;
  margin-bottom: 25px;
  font-style: italic;
}

/* News list container */
.tech-list {
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 25px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
  display: grid;
  gap: 3rem;
}
.tech-list:hover {
  transform: translateY(-3px);
}

/* Each news card */
.tech-card {
  padding: 15px;
  border-radius: 12px;
  transition: 0.2s ease;
}

/* Card hover effect */
.tech-card:hover {
  transform: translateY(-5px);
}

/* Headline */
.tech-card h2 {
  color: #333;
  margin-bottom: 10px;
}

/* Source text */
.tech-card p {
  color: #131111;
  line-height: 1.5;
}

/* Image style */
.tech-news-image {
  width: 100%;
  height: auto;
  max-height: 500px;
  object-fit: cover;
  border-radius: 8px;
}

/* Read more link */
.tech-card a {
  display:flex;
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
  font-weight: 500;
}

.tech-card a:hover {
  text-decoration: underline;
}

/* Loading and error text */
.loading {
  color: black;
  font-size: 16px;
  font-style: italic;
}

.error {
  color: red;
  font-weight: bold;
}

@media (max-width: 768px){
  .tech-container {
    width: 90%;
    padding: 20px;
  }  
  .tech-container h1 {
    font-size: 24px;
  }
  .tech-list {
    padding: 12px;
  }
  .tech-card {
    padding: 2opx;
  }
  .tech-card h2 {
    font-size: 20px;
  }
  .tech-card p {
    font-size: 16px;
  }
  .tech-news-image {
    max-height: 300px;
  }
}