.Nav {
  display: flex;
  justify-content: space-between; /* logo left, links right */
  align-items: center;
  font-family:'Trebuchet MS', sans-serif;
  padding: 10px 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.078);
}

.logo {
  height: 70px;
  width: 70px;
  border-radius: 2.1rem;
  cursor: pointer;
}


.right-section {
  display: flex;
  align-items: center;
  gap: 20px; 
}

/* Links */
.right-section a {
  text-decoration: none;
  color: #333;
  font-weight:500;
  font-size: x-large;
  transition: color 0.3s ease;
}

.right-section a:hover {
  color: #199e4a;
}

/* ==== MENU BUTTON (HIDDEN ON DESKTOP) ==== */
.menu-button {
  background: none;
  border: none;
  color: rgb(251, 246, 246);
  cursor: pointer;
  display: none;
  font-size: 28px;
  margin-left: 10px;
}

/* ==== MOBILE DROPDOWN ==== */
.dropdown {
  position: absolute;
  top: 70px;
  right: 10px;
  background-color: #98c1e2f3;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.184);
}

.dropdown a {
  padding: 12px 25px;
  color: #040404;
  text-decoration: none;
  font-size: 1.2rem;
  font-family:cursive;

}

.dropdown a:hover {
  background-color: #444;
}

/* ==== RESPONSIVE (MOBILE VIEW) ==== */
@media (max-width: 768px) {
  .right-section a {
    display: none; /* Hide desktop links */
  }

  .menu-button {
    display: block; /* Show hamburger icon */
  }

  .dropdown {
    width: 180px;
  }
}