.footer {
  color: #060606;
  text-align: center;
  padding: 10px 10px;
  font-family: 'Arial', sans-serif;

}
strong {
  font-family: cursive;
}

.footer p {
  margin: 8px 0;
  font-size: 14px;
}

.footer-links {
  margin-top: 10px;
}

.footer-icon {
  margin: 0 10px;
  color: #000000;
  text-decoration: none;
  font-size: 28px;
  transition: color 0.3s ease;
}

.footer-icon:hover {
  color: #00acee; /* Light blue hover effect */
}

.footer-icon i {
  margin-right: 5px;
}
